<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <add key="OPCXSL1PATH" value="DWSV.FT288.XSL1."/>
    <add key="OPCXSL2PATH" value="DWSV.FT288.XSL2."/>
    <add key="OPCXSL3PATH" value="DWSV.FT388.XSL3."/>
    <add key="OPCXSL4PATH" value="DWSV.FT388.XSL4."/>
    <add key="OPCXZTIN2PATH" value="DWSV.AT233."/>
    <add key="OPCZTOUT1PATH" value="DWSV.FT284.ZTOUT1."/>
    <add key="OPCZTOUT2PATH" value="DWSV.FT284.ZTOUT2."/>
    <add key="OPCPVC1PATH" value="DWSV.FT202.PVC1."/>
    <add key="OPCPVC2PATH" value="DWSV.FT302.PVC2."/>
    <add key="OPCHRKPATH" value="DWSV.FT187.HRK."/>
    <add key="OPCL100PATH" value="DWSV.BMSD.L100."/>
    <add key="OPCL200PATH" value="DWSV.BMSD.L200."/>
    <add key="OPCL300.1PATH" value="DWSV.BMSD.L300.1."/>
    <add key="OPCL300.2PATH" value="DWSV.BMSD.L300.2."/>
    <add key="OPCMQ1PATH" value="DWSV.AT243.MQ1."/>
    <add key="OPCMQ2PATH" value="DWSV.AT343.MQ2."/>
    <add key="OPCGL1PATH" value="DWSV.FT418.GL1."/>
    <add key="OPCGL2PATH" value="DWSV.FT418.GL2."/>
    <add key="OPCZSPATH" value="DWSV.FT290.ZS."/>
    <add key="OPCZTPATH" value="DWSV.AT223.ZT."/>

    <add key="OPCCM1PATH" value="DWSV.FT288."/>
    <add key="OPCCM2PATH" value="DWSV.FT388."/>

    <add key="OPCDB1PATH" value="DWSV.FT289.DB1."/>
    <add key="OPCDB2PATH" value="DWSV.FT289.DB2."/>
    <add key="OPCDB3PATH" value="DWSV.FT289.DB3."/>
    <add key="OPCDB4PATH" value="DWSV.FT389.DB4."/>
    <add key="OPCDB5PATH" value="DWSV.FT389.DB5."/>
    <add key="OPCDB6PATH" value="DWSV.FT389.DB6."/>
   
    <add key="OPCKTLS1PATH" value="DWSV.FT185.KTLS1."/>
    <add key="OPCKTLS2PATH" value="DWSV.FT185.KTLS2."/>

    <add key="OPCDYDM1PATH" value="DWSV.FT189.DYDM1."/>
    <add key="OPCDYDM2PATH" value="DWSV.FT189.DYDM2."/>

    <add key="OPCDLV1PATH" value="DWSV.FT285.DLV1."/>
    <add key="OPCDLV2PATH" value="DWSV.FT385.DLV2."/>

    <add key="THIRDCAR" value="30"/>

    <add key="6950" value="ok"/>
    <add key="6955" value="ok"/>

    <add key="6090" value="01"/>
    <add key="6340" value="01"/>

    <add key="6615" value="02"/>
    <add key="6675" value="02"/>
    <add key="6815" value="02"/>
    <add key="6875" value="02"/>

    <add key="6910" value="ok"/>
    <add key="else" value="ok"/>

    <add key="merge12" value="xsl1"/>
    <add key="merge34" value="xsl2"/>


    <add key="4480" value="DL1"/>
    <add key="6185" value="FX"/>
    <add key="6245" value="XX"/>
    <add key="4600" value="DL2"/>
    <add key="6435" value="FX"/>
    <add key="6495" value="XX"/>
    <add key="mqelse" value="DL0"/>
    
    
    
    
    <add key="OPCName" value="ArchestrA.DASSIDirect"/>
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521) ) )(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User id=JSL; Password=fawccr; enlist=false; pooling=true;Connection Timeout=60"/>
  </appSettings>
</configuration>
